streamlit>=1.30

# Translation
googletrans==4.0.0-rc1
groq

# Voice
gtts
pydub
SpeechRecognition
streamlit-mic-recorder

# Image OCR
pytesseract
Pillow
opencv-python-headless
numpy

# Utils
python-dotenv